
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


:root{

}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    line-height:1.5;
    text-rendering:optimizespeed;
}